body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 10%;
    width: 80%;
}
figure {
    margin: 5px 0;
}
#thumb-bar{
    display: flex;
}
div img {
    width: 20%;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.displayed-img {
    width: 100%;
}
label {
    display:block;
    text-align: center;
}
input {
    display:block;
    margin:auto;
}
button {
    display:block;
    margin:auto;
}

@media screen and (min-width: 640px) {
    body {
        background-color: peachpuff;
        width: 640px;
        margin: auto;
    }
    p {
        text-align: left;
        background-color: green;
    }
    .bottom {
        text-align: center;
    }
    label{
        display: inline-block;
        margin: 0 15px;
    }
    input {
        display: inline-block;
        margin: 0 15px;
    }
    button {
        display: inline-block;
        margin: 0 15px;
    }
}  

